<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-image: url('forum.jpg');
          background-repeat: no-repeat;
          background-position: center;
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=822799644946126&autoLogAppEvents=1" nonce="wYkS5t9"></script>
</head>
<body>
    <h1 style="text-align: center;font-style: italic;">Facebook Django</h1>
            <table border="0" cellpadding="10" cellspacing="20" >
                <tr>
                    <td style="padding-left: 10px; size: 20px;">
                        <h2>Django Project</h2><br>
                        Using Facebook developers we get different options to get various values from facebook.<br>
                        And we can use this vaules to get facebook data and show it using various ways such as it is used in websites,apps,etc.<br> 
                        Django is a Python-based free and open-source web framework that follows the model-template-views (MTV) architectural pattern.<br> It is maintained by the Django Software Foundation (DSF), an American independent organization established as a 501 non-profit.

                        Django's primary goal is to ease the creation of complex, database-driven websites. The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development, and the principle of don't repeat yourself.<br> Python is used throughout, even for settings, files, and data models.<br> Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.<br><br>
                        <div class="fb-like" data-href="http://127.0.0.1:8000/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
                        <div class="fb-save" data-uri="http://127.0.0.1:8000/" data-size="large"></div>
                        <br><br><br>
                        <div class="fb-video" data-href="https://www.facebook.com/facebook/videos/10153231379946729/" data-width="500" data-show-text="true"><blockquote cite="https://developers.facebook.com/facebookapp/videos/10153231379946729/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/facebookapp/videos/10153231379946729/">How to Share With Just Friends</a><p>How to share with just friends.</p>Posted by <a href="https://www.facebook.com/facebookapp/">Facebook App</a> on Friday, 5 December 2014</blockquote></div>
                    </td>
                    <td width="600" style="padding-left: 10px;">
                        <div class="fb-page" data-href="https://www.facebook.com/Lokesh_siva-102869521742945" data-tabs="timeline" data-width="500" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Lokesh_siva-102869521742945" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Lokesh_siva-102869521742945">Lokesh_siva</a></blockquote></div><br>
                    </td>
                    <td>
                        <div class="fb-comments" data-href="http://127.0.0.1:8000/" data-width="300" data-numposts="5"></div>
                    </td>
                </tr>


</body>
</html>